.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
body {
    min-width: 345px;
    background-color: #E0E4E4;
    height: 100vh;
}
* {
    font-family: 'Roboto', sans-serif;
}

.navbar .btn {
    background-color: #1aaba4;
    border-radius: 30px;
    margin-top: 70px;
}
.myCard{
    background-color: rgb(255, 255, 255);
    max-width: 450px;
    min-width: 330px;
    height: 550px;
}

::-webkit-scrollbar {
    width: 4px;
    height:3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}






